<!DOCTYPE html>
<html>
<head>
  <title>Tracy Lei</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Hi, I'm Tracy and I'm a Computer Science student at the University of Waterloo.">
  <meta name="author" content="Tracy Lei">
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
